# Logs
logs/
*.log

# Dependencies
node_modules/
target/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Docker Data
postgres_data/

# Data Seeds
seeds/**

# Commits Description
commits.md

# Documentação Local
BUSINESS_RULES.md

# Backups and Sensitive Data
backup_db/
backups/
docs-obsidian/
